 <div class="user-details">
  <h1> My Expertise </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Cloud Technologies</h2>
      
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/amazonwebservices/amazonwebservices-original-wordmark.svg" width="100" height="100" />
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/azure/azure-original-wordmark.svg" width="100" height="100" />
     
      <p></p>
    </div>
    <div class="tech">
      <h2>Programming</h2>
      <i class="devicon-python-plain-wordmark colored"></i>
      <i class="devicon-java-plain-wordmark colored"></i>
      <p></p>
    </div>

    <div class="tech">
      <h2>Databases</h2>
      
      
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/microsoftsqlserver/microsoftsqlserver-plain-wordmark.svg" width="100" height="100"></i>
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/mysql/mysql-original-wordmark.svg" width="100" height="100" />
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/postgresql/postgresql-original-wordmark.svg" width="100" height="100" />
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/sqlite/sqlite-original-wordmark.svg" width="100" height="100" />
      
      <p></p>
      <p></p>
      <p></p>
    </div>
    <div class="tech">
      <h2>Tools</h2>
      <i class="devicon-github-original-wordmark colored"></i>
      <i class="devicon-salesforce-plain colored"></i>
      <i class="devicon-jira-plain-wordmark colored"></i>
      <i class="devicon-pycharm-plain-wordmark colored"></i>
      <i class="devicon-visualstudio-plain-wordmark colored"></i>
      <i class="devicon-microsoftsqlserver-plain-wordmark colored"></i>
      
      <p></p>
      <p></p>
      <p></p>
    </div>
</div>
