<div class="user-details">
  <h1> Experience </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/jci.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-left">
    <h3> Johnson Controls </h3>
    <ul>
      <li>Skills</li>
    </ul>
    <p>· Technical Architecture · Data Management · Project Management · IT Business Partner ·  Microsoft Azure · Snowflake · Python · ERPs · Project Management · Data Catalog · SQL · ERPs </p>
    
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/AQ.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Aquilliance GmbH </h3>
    <ul>
      <li>Skills</li>
    </ul>
    <p>Amazon Web Services (AWS) · Salesforce · Anaplan · Python (Programming Language) · Talend Data Fabric</p>
    
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/convera.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-left">
    <h3> Convera (Formerly Western union business solutions) </h3>
    <ul>
      <li> Skills</li>
    </ul>
    <p>Amazon Web Services (AWS) · Microsoft Azure · Snowflake Cloud · Agile Methodologies · Talend realtime Big data platform · Talend MDM · Amazon Dynamodb · Data Warehousing · Python (Programming Language) · HTML · Amazon Redshift · Data Transformation</p>
    
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/deloitte.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Deloitte USI </h3>
    <ul>
      <li>Skills</li>
    </ul>
    <p>Amazon Web Services (AWS) · Microsoft Azure · AWS Data Bricks · informatica Big Data Management · Agile Methodologies · Talend Big data cloud Platform · Talend data prep · Talend Data quality · Amazon Relational Database Service (RDS) · Postgres · Data Warehousing · Python (Programming Language) · Amazon S3 · Business Intelligence · Tableau · HTML · Informatica Intelligent Cloud Services · AWS Databricks · Amazon Redshift · Data Transformation</p>
   
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/accenture.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-left">
    <h3> Accenture  </h3>
    <ul>
      <li>Skills</li>
    </ul>
    <p>SAP S/4HANA · Talend Data Fabric · HDFS · Hive · SQL · Business Intelligence · Big Data · HQL · Talend Open Studio · Data Transformation</p>
 
  </div>
</div>
